body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

}

.caption {
    color: grey;
    text-transform: uppercase;
}

h1 {
    text-align: center;

}